.colorss{
    color: #1a237e !important;
}

.spells{
    width: 135% !important;
    margin-top: -1vh; 
}

.spelltd{
    width: 50px;
}

.Battlefield{
    width: 135% !important;
    margin-top: 1vh;
    -webkit-box-shadow: inset 0px 0px 100px rgba(0,0,20,0.4);
    background: -webkit-linear-gradient(top, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 30%), -webkit-linear-gradient(20deg, rgba(255,0,0,0.5) 0%,rgba(255,0,0,0) 10%);
}

.umemeio{
    width: 50px;
    height: 60px;
    border: 1px solid #000;
    background-image: url(../../img/bg-grid.jpg) !important;
}